:root {
  /* --primary-bg: #CACACA;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece; */
  font-family: 'Andale Mono', monospace;
  --border-radius: 8px; 
  --speed: 500ms;
  /* background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(9,7,143,1) 100%); */

  /* faceboook messanger background */
  /* background: #00c6ff;  
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  
  background: linear-gradient(to right, #0072ff, #00c6ff);  */

  /* beige */
  /* background: rgb(222,207,172);
  background: linear-gradient(0deg, rgba(222,207,172,1) 0%, rgba(166,124,91,1) 100%); */

  /* cool gray */
  background: rgb(187,204,213);
  background: linear-gradient(0deg, rgba(187,204,213,1) 0%, rgba(93,107,123,1) 100%);
  background-attachment: fixed;
}



